body, input, h1, h2 {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #404040
    background-color: white;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

button,
input {
    display: block;
    box-sizing: border-box;
    height: 36px;
    font-size: 15px;
    padding: 8px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #C0C0C0 inset;
}
input[type="text"]:hover,
input[type="password"]:hover {
    border-color: #808080;
}
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4D90FE;
}

button,
input[type="button"],
input[type="submit"] {
    font-size: 13px;
    color: white;
    background-color: #B0B0B0;
    border: 1px solid #808080;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #A0A0A0;
}
button:hover,
input[type="button"]:active,
input[type="submit"]:active {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3) inset
}
button.positive,
input[type="button"].positive,
input[type="submit"].positive {
    background-color: #1BC61D;
    border-color: #457F3E;
}
button.positive:hover,
input[type="button"].positive:hover,
input[type="submit"].positive:hover {
    background-color: #19B51B;
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
}
.table>.head {
    font-weight: bold;
}
.table>.row {
    display: table-row;
}
.table>.row>.cell {
    display: table-cell;
    padding: 7px 10px;
}
.table>.row:not(.head):hover {
    background: #AAAAAA;
}

.index {
    width: 100%;
}