{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-datepicker/css/datepicker3.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bills/css/edit.css' %}"/>
    <script defer src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script defer src="{% static 'bootstrap-datepicker/js/locales/bootstrap-datepicker.pl.js' %}"></script>
    <script defer src="{% static 'bills/js/edit.js' %}"></script>
{% endblock head %}

{% block content %}
    <div id="top-panels">
        <div id="client-panel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Adresat</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="client-name">Nazwa:</label>
                    <input id="client-name" class="form-control" type="text"
                           name="client-name">
                </div>
                <div class="form-group">
                    <label for="client-address">Adres:</label>
                    <textarea id="client-address" class="form-control" rows="2"
                              name="client-name"></textarea>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Budowa</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="begin-date">Początek:</label>
                    <input id="begin-date" class="form-control datepicker"
                           type="text" name="begin-date">
                </div>
                <div class="form-group">
                    <label for="end-date">Koniec:</label>
                    <input id="end-date" class="form-control datepicker"
                           type="text" name="begin-date">
                </div>
                <div class="form-group">
                    <label for="site">Adres:</label>
                    <textarea id="site" class="form-control" rows="2"
                              name="site"></textarea>
                </div>
            </div>
        </div>
    </div>
    <button id="all-entries-button" class="btn btn-default pull-left">
        <input id="all-entries-checkbox" type="checkbox">Wszystkie
    </button>
    <button id="new-entry-button" class="btn btn-success pull-left">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Nowa pozycja
    </button>
    <button id="delete-entries-button" class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Usuń zaznaczone
    </button>
    <div id="entries-header" class="expand">
        <div class="entry-name"></div>
        <div class="entry-quantity">Ilość</div>
        <div class="entry-unit"></div>
        <div class="entry-unit-price">Cena jedn.</div>
        <div class="entry-price">Cena</div>
    </div>
    <ul id="entries" class="list-group">
        {% for i in "xxxxxx" %}
            <li>
                <div class="entry-handle">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </div>
                <input class="entry-checkbox" type="checkbox">
                <div class="entry">
                    <input class="entry-name form-control" rows="1"></textarea>
                    <input class="entry-quantity form-control" type="text">
                    <select class="entry-unit form-control">
                        <option value="val">Val</option>
                        <option value="jolo">Jolo</option>
                    </select>
                    <input class="entry-unit-price form-control" type="text">
                    <input class="entry-price form-control" type="text">
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}