{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'bills/css/index.css' %}" />
{% endblock head %}

{% block content %}
    <a class="btn btn-success pull-right" href="new">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Nowy
    </a>
    {% if bills %}
        <div class="table expand" id="bill-list">
            <div class="row head">
                <div class="cell id">Numer</div>
                <div class="cell client">Adresat</div>
                <div class="cell amount">Kwota</div>
            </div>
            {% for bill in bills %}
                <a class="row" href="{{ bill.get_absolute_url }}">
                    <div class="cell id">{{ bill.id }}</div>
                    <div class="cell client expand">{{ bill.client_name }}</div>
                    <div class="cell amount">{{ 1000 }}</div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        No bills
    {% endif %}
{% endblock content %}