textarea {
    resize: vertical;
}

#top-panels {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

#top-panels>* {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#client-panel {
    margin-right: 15px;
}

#all-entries-button {
    margin-right: 15px;
}

#all-entries-checkbox {
    margin-right: 6px;
}

#entries-header {
    display: flex;
    padding: 15px 15px 8px 15px;
    margin-bottom: 3px;
    font-weight: bold;
    border-bottom: 2px #ddd solid;
}

#entries li {
    display: flex;
    border-radius: 4px;
    border: 1px solid transparent;
}

#entries li:hover {
    border-color: #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
}

.entry {
    display: flex;
    padding: 10px 15px 10px 0px;
    flex-grow: 1;
}

.entry-handle {
    font-size: 20px;
    color: white;
    line-height: 54px;
    text-align: center;
}
li:hover .entry-handle {
    text-shadow: 1px 1px #aaa;
    cursor: move;
}

input.entry-checkbox {
    position: relative;
    top: 20px;
    margin-right: 10px;
}
.entry-description {
    width: 0px;
    flex-grow: 1;
    margin-right: 10px
}
.entry-quantity {
    width: 60px;
}
.entry-unit {
    width: 40px;
}
.entry-unit-price,
.entry-price {
    width: 100px;
    margin-left: 10px
}