<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się | PK Rachunki</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-lib/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/css/login.css' %}"/>
</head>
<body>
    <div id="logo-row">
        <div id="logo-column">
            <img id="logo" src="{% static 'registration/img/logo.png' %}"/>
        </div>
    </div>
    <form id="login-form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
        {% csrf_token %}
        <input id="username" class="form-control input-lg" type="text" name="username" placeholder="Nazwa użytkownika">
        <input id="password" class="form-control input-lg" type="password" name="password" placeholder="Hasło">
        <input id="log-in" class="btn btn-success" type="submit" value="Zaloguj się">
    </form>
</body>
</html>